@charset "urf-8";
body {
    color:#000000;
    background-color: #ffffff;
    font-family: arial, verdana, sans-serif;
}
h1{color: blue;}
p.one{
    font-family: arial;
    background-color: yellow;
}
p.two{
    font-family: times new roman;
    background-color: gray;
}
p.three{
    font-family: courier;
    font-weight: 900;
    font-size:20px;
}